<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JEquity
  ~ Copyright(c) 2008-2019, Beowurks
  ~ Original Author: Eddie Fann
  ~ License: Eclipse Public License - v 2.0 (https://www.eclipse.org/org/documents/epl-2.0/EPL-2.0.html)
  ~
  -->

<jequity>
  <description-marker>
    #quote-header-info h1
  </description-marker>
  <lasttrade-marker>
    #quote-header-info div[class^=My] span[class^=Trsdu]
  </lasttrade-marker>
  <daily-url>
    https://finance.yahoo.com/quote/###symbol###?p=###symbol###
  </daily-url>
</jequity>
